@using JoelScottFitness.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="row col-xs-12 login-container">
    <div class="login-option-container">
        <div id="login" class="col-xs-12 section-title">
            <div class="home-row home-welcome sect-header">
                LOGIN
            </div>
        </div>
        <div class="col-xs-12">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <div>
                    <div class="login-section">
                        <div>
                            @Html.LabelFor(m => m.Email)
                        </div>

                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "login-section-textbox" })
                            @Html.ValidationMessageFor(m => m.Email, "")
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="login-section">
                    <div>
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "login-section-textbox" })
                        @Html.ValidationMessageFor(m => m.Password, "")
                    </div>

                    <div style="clear:both"></div>
                </div>
                <div style="text-align:left;padding-top:20px;">
                    <input type="submit" value="Login" class="btn btn-default basket-next-button basket-button" style="width:100%;font-size:18px" />
                </div>

                <div style="width:100%">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                <div style="clear:both"></div>
            }
        </div>
    </div>
        <div class="login-option-container hidden-xs" style="width:20%">
        </div>
        <div class="login-option-container" @*style="background-color:yellow"*@>
            <div id="guest" class="row col-xs-12 section-title">
                <div class="home-row home-welcome sect-header">
                    GUEST
                </div>
            </div>
            <div class="col-xs-12" style="text-align:center;padding-top:80px;">
                <a href="/Home/CustomerDetails" class="btn btn-default basket-next-button basket-button" style="width:100%;font-size:18px">CONTINUE</a>
            </div>
        </div>
</div>




@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
@*}
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
