@using JoelScottFitness.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row col-xs-12 login-container">
    <div class="login-option-container">
        <div id="login" class="col-xs-12 section-title">
            <div class="home-row home-welcome sect-header">
                LOGIN
            </div>
        </div>
        <div class="col-xs-12">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, ShowGuest = ViewBag.ShowGuest }, FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <div>
                    <div class="login-section">
                        <div>
                            @Html.LabelFor(m => m.Email)
                        </div>

                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "login-section-textbox" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger form-warning" })
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="login-section">
                    <div>
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "login-section-textbox" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger form-warning" })
                    </div>

                    <div style="clear:both"></div>
                </div>
                <div style="text-align:left;padding-top:20px;">
                    <input type="submit" value="Login" class="btn btn-default basket-next-button basket-button" style="width:100%;font-size:18px" />
                </div>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { @style = "color:black;text-decoration:none" })
                    </p>
                    <p>
                    @if (ViewBag.ShowGuest != null && ViewBag.ShowGuest)
                    {
                        @Html.ActionLink("Register", "Register", "Account", new { ReturnUrl = "/Home/ConfirmPurchase", AppendCustomerId = true }, new { @style = "color:black;text-decoration:none" })
                    }
                    else
                    {
                        @Html.ActionLink("Register", "Register", "Account", new { @style = "color:black;text-decoration:none" })
                    }
                    </p>
                <div style="width:100%;position:relative">@Html.ValidationSummary(true, "", new { @class = "text-danger form-validation-summary" })</div>
                <div style="clear:both"></div>
            }
        </div>
    </div>
    @if (ViewBag.ShowGuest!= null && ViewBag.ShowGuest)
    {
        <div class="login-option-container hidden-xs" style="width:20%">
        </div>
        <div class="login-option-container">
            <div id="guest" class="row col-xs-12 section-title" style="margin:0 auto;">
                <div class="home-row home-welcome sect-header">
                    GUEST
                </div>
            </div>
            <div class="col-xs-12" style="text-align:center;padding-top:80px;">
                <a href="/Home/GuestDetails" class="btn btn-default basket-next-button basket-button" style="width:100%;font-size:18px">CONTINUE</a>
            </div>
        </div>
    }
</div>

