@model JoelScottFitness.Web.Models.ResetPasswordViewModel

<div class="container page-container" style="font-family: 'Bebas-Neue';">
    <div class="row col-xs-12 title-format" style="margin:0px">
        RESET PASSWORD
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
    <div class="row col-xs-12 login-container" style="height:auto;">
        <div class="login-option-container" style="height:auto;">
            <div class="col-xs-12">

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)

                    <div>
                        <div class="login-section">
                            <div>
                                <label class="control-label" style="text-align:left">Email Address</label>
                            </div>

                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "login-section-textbox" })
                                @Html.ValidationMessageFor(m => m.Email, "")
                            </div>
                            <div>
                                <label class="control-label" style="text-align:left">Password</label>
                            </div>

                            <div>
                                @Html.TextBoxFor(m => m.Password, new { @class = "login-section-textbox", @type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "")
                            </div>
                            <div>
                                <label class="control-label" style="text-align:left">Confirm Password</label>
                            </div>

                            <div>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "login-section-textbox", @type = "password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>

                        <div style="text-align:left;padding-top:20px;">
                            <input id="resetPassword" type="submit" value="Reset" class="btn btn-default basket-next-button basket-button" style="width:100%;font-size:18px" />
                        </div>
                }
                </div>
            </div>
        </div>
    </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
