@model IEnumerable<JoelScottFitness.Common.Models.OrderSummaryViewModel>

<div class="container" style="font-family:'Bebas-Neue';font-size:12pt">
    <div class="row">
        <div class="col-xs-12 title-format">
            SALES
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="row">
        <table class="table">
            <tr style="font-size:14pt">
                <th>
                    <label>Customer Name</label>
                </th>
                <th>
                    <label>Order Id</label>
                </th>
                <th>
                    <label>Transaction Id</label>
                </th>
                <th>
                    <label>PayPal Reference</label>
                </th>
                <th>
                    <label>Purchase Date</label>
                </th>
                <th>
                    <label>Discount Code</label>
                </th>
                <th>
                    <label>Total Amount</label>
                </th>
                <th>
                    <label>Questionnaire Complete</label>
                </th>
                <th>
                    <label>Plans Uploaded</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Id, new { @style = "display:none" })
                    @Html.HiddenFor(modelItem => item.CustomerId, new { @style = "display:none" })
                    @Html.HiddenFor(modelItem => item.DiscountCodeId, new { @style = "display:none" })
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayPalReference)
                    </td>
                    <td>
                        @item.PurchaseDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountCode)
                    </td>
                    <td>
                        £@item.TotalAmount
                    </td>
                    <td style="text-align:center">
                        @if (item.QuestionnaireComplete)
                        {
                            <i class="fas fa-check fa-2x" aria-hidden="true" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fas fa-times fa-2x" aria-hidden="true" style="color:red"></i>
                        }
                    </td>
                    <td style="text-align:center">
                        @if (item.RequiresAction)
                        {
                            <i class="fas fa-exclamation fa-2x" aria-hidden="true" style="color:red"></i>
                        }
                        else
                        {
                            <i class="fas fa-check fa-2x" aria-hidden="true" style="color:green"></i>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "CustomerPlan", "Admin", new { orderId = item.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
            <tfoot>

                <tr>
                    <td colspan="4"></td>
                    <td>Total Sales:</td>
                    <td>
                        £@Model.Select(s => s.TotalAmount).Sum().ToString($"{0:0.00}")
                    </td>
                    <td colspan="3"></td>
                </tr>
                
            </tfoot>

        </table>
        </div>
    </div>
