@model JoelScottFitness.Common.Models.OrderHistoryViewModel

<div class="container" style="font-family:'Bebas-Neue';font-size:12pt">
    <div class="row">
        <div class="col-xs-12 title-format">
            CUSTOMER PLAN
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="row">
        <hr />
        <div class="col-md-6">
            <label style="font-size:14pt">Customer Details:</label>
        </div>
        <div class="col-md-6">
            <label style="font-size:14pt">Questionnaire:</label>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <dl class="dl-horizontal" style="border:solid 1px black">
                    <dt>
                        <label>Customer Id:</label>
                    </dt>

                    <dd>
                        @Model.CustomerId
                    </dd>
                    <dt>
                        <label>Customer Name:</label>
                    </dt>
                    <dd>
                        @Model.Customer.Firstname @Model.Customer.Surname
                    </dd>
                    <dt>
                        <label>Transaction Id:</label>
                    </dt>

                    <dd>
                        @Model.TransactionId
                    </dd>
                    <dt>
                        <label>PayPal Reference:</label>
                    </dt>

                    <dd>
                        @Model.PayPalReference
                    </dd>
                    <dt>
                        <label>Discount Code:</label>
                    </dt>

                    <dd>
                        @if (Model.DiscountCode != null)
                        {
                            @Model.DiscountCode.Code
                        }
                    </dd>
                    <dt>
                        <label>Purchase Date:</label>
                    </dt>

                    <dd>
                        @Model.PurchaseDate.ToString("dd/MM/yyyy")
                    </dd>

                    <dt>
                        <label>Total Amount:</label>
                    </dt>

                    <dd>
                        £@Model.TotalAmount
                    </dd>
                    <dt>
                        <label>Questionnaire Complete:</label>
                    </dt>

                    <dd>
                        @if (Model.QuestionnaireId.HasValue)
                        {
                            <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
                        }
                    </dd>

                </dl>
            </div>
        </div>
        <div class="col-md-6">
            @if (Model.Questionnaire != null)
            {
                <div>
                    <dl class="dl-horizontal" style="border:solid 1px black">
                        <dt>
                            <label>Age:</label>
                        </dt>

                        <dd>
                            @Model.Questionnaire.Age
                        </dd>
                        <dt>
                            <label>Height:</label>
                        </dt>

                        <dd>
                            @Model.Questionnaire.Height (inches)
                        </dd>

                        <dt>
                            <label>Weight:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.Weight (lbs)
                        </dd>

                        <dt>
                            <label>Is Memger Of Gym:</label>
                        </dt>
                        <dd>
                            @if (Model.Questionnaire.IsMemberOfGym)
                    {
                    <label style="font-weight:normal">Yes</label>
                    }
                    else
                    {
                    <label style="font-weight:normal">No</label>
                    }
                        </dd>

                        <dt>
                            <label>Current Gym:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.CurrentGym
                        </dd>

                        <dt>
                            <label>Workout Type:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.WorkoutTypes[(int)Model.Questionnaire.WorkoutTypeId].Value
                        </dd>

                        <dt>
                            <label>Workout Description:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.WorkoutDescription
                        </dd>

                        <dt>
                            <label>Diet Type:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.DietTypes[(int)Model.Questionnaire.DietTypeId].Value
                        </dd>

                        <dt>
                            <label>Diet Details:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.DietDetails
                        </dd>

                        <dt>
                            <label>Training Goals:</label>
                        </dt>
                        <dd>
                            @Model.Questionnaire.TrainingGoals
                        </dd>
                    </dl>

                </div>

            }
            else
            {
                <div style="width:100%;text-align:center">
                    <p style="font-family:'Bebas-Neue';font-size:14pt"><i class="fa fa-exclamation" aria-hidden="true" style="color:red"></i>   Not Complete   <i class="fa fa-exclamation" aria-hidden="true" style="color:red"></i></p>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <label style="font-size:14pt">Items:</label>
    </div>
    <div class="col-md-12">
        @if (Model.Items == null || !Model.Items.Any())
        {
                <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                    No ITEMS ASSOCIATED TO CUSTOMER
                </div>
        }
        else
        {
        <table class="table">
            <tr>

                <th>
                    <label>Name</label>
                </th>
                <th>
                    <label>Description</label>
                </th>
                <th>
                    <label>Price</label>
                </th>
                <th>
                    <label>Quantity</label>
                </th>
                <th>
                    <label>Item Type</label>
                </th>
            </tr>
        
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Description)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCategory)
                    </td>
                </tr>
            }
</table>
        }
</div>
    <div class="col-md-12">
        <label style="font-size:14pt">Plans:</label>
    </div>
    <div class="col-md-12">
        @if (Model.Plans == null || !Model.Plans.Any())
        {
            <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                NO PLANS ASSOCIATED TO CUSTOMER
            </div>
        }
        else
        {
            <table class="table">
                <tr>

                    <th>
                        <label>Name</label>
                    </th>
                    <th>
                        <label>Description</label>
                    </th>
                    <th>
                        <label>Plan Uploaded</label>
                    </th>
                    <th colspan="2">
                        <label>Plans</label>
                    </th>
                </tr>

                @foreach (var plan in Model.Plans)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => plan.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => plan.Description)
                        </td>
                        <td>
                            @if (plan.RequiresAction)
                            {
                                <i class="fa fa-exclamation" aria-hidden="true" style="color:red"></i>
                            }
                            else
                            {
                                <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                            }
                        </td>

                        @if (!string.IsNullOrEmpty(plan.PlanPath))
                        {
                            <td colspan="2">
                                <a href="@plan.PlanPath" target="_blank">Plan</a>
                            </td>
                        }
                        else
                        {
                            using (Html.BeginForm("UploadPlan", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <td>
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("OrderId", Model.Id, new { @style = "display:none" })
                                    @Html.Hidden("PlanId", plan.Id, new { @style = "display:none" })
                                    @Html.Hidden("CustomerId", Model.CustomerId, new { @style = "display:none" })
                                    @Html.Hidden("Name", plan.Name, new { @style = "display:none" })
                                    @Html.Hidden("Description", plan.Description, new { @style = "display:none" })
                                    <input type="file" id="postedFile" name="PostedFile" />
                                </td>
                                <td>
                                    <input type="submit" value="Upload" class="btn btn-default" />
                                </td>
                            }
                        }

                    </tr>
                }


            </table>
        }
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.ActionLink("Back to List", "CustomerPlans", "Admin", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

</div>