@model IEnumerable<JoelScottFitness.Common.Models.PlanOptionViewModel>

@{
    ViewBag.Title = "Basket";
}

<div class="container" style="font-family: 'Bebas Neue';font-size:14px;color:black">
    <div class="row">
        <div class="col-xs-12 title-format">
            BASKET
        </div>
        <div style="clear:both"></div>
    </div>
    @{
        <div class="row hidden-xs visible-sm visible-md visible-lg">
            <div class="col-sm-4">Plan</div>
            <div class="col-sm-4">Description</div>
            <div class="col-sm-2">Duration</div>
            <div class="col-sm-2">Price</div>
        </div>

        foreach (var planOption in Model)
        {
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">Plan:</div>
                <div class="col-xs-12 col-sm-4">@Html.TextBoxFor(s => planOption.Plan.Name, new { @readonly = true, @class = "basket-value" })</div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">Description:</div>
                <div class="col-xs-12 col-sm-4">@Html.TextBoxFor(s => planOption.Description, new { @readonly = true, @class = "basket-value" })</div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">Duration:</div>
                <div class="col-xs-12 col-sm-2">@Html.TextBoxFor(s => planOption.Duration, new { @readonly = true, @class = "basket-value" })</div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">Price:</div>
                <div class="col-xs-12 col-sm-2">@Html.TextBoxFor(s => planOption.Price, new { @readonly = true, @class = "basket-value" })</div>
            </div>
        }

        <div class="row">
            <div class="col-sm-10 hidden-xs visible-sm visible-md visible-lg" style="text-align:right">Total:</div>
            <div class="col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" style="text-align:left">Total:</div>
            <div class="col-xs-12 col-sm-2">@Model.Sum(s => s.Price)</div>
        </div>
    }

</div>

