@model JoelScottFitness.Common.Models.CustomerViewModel

@{
    ViewBag.Title = "CustomerDetails";
}

<div class="container customer-form-container">
    <div class="row">
        <div class="col-xs-12 title-format">
            CUSTOMER DETAILS
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="customer-form-wrapper">

        @using (Html.BeginForm("ExistingCustomerDetails", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id, new { @style = "display:none" })
            @Html.HiddenFor(model => model.BillingAddressId, new { @style = "display:none" })
            @Html.HiddenFor(model => model.UserId, new { @style = "display:none" })
            @Html.HiddenFor(model => model.CreatedDate, new { @style = "display:none" })
            <hr />
            <div class="form-group row">
                @Html.LabelFor(m => m.Firstname, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                <div class="col-xs-12 col-sm-8">
                    @Html.TextBoxFor(m => m.Firstname, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Firstname" })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger form-warning" })
                </div>
            </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Surname, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.Surname, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Surname" })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.AddressLine1, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.AddressLine1, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Address Line 1" })
                        @Html.ValidationMessageFor(model => model.BillingAddress.AddressLine1, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.AddressLine2, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.AddressLine2, new { @type = "text", @class = "form-control customer-form-input", @placeholder = "Address Line 2" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.AddressLine3, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.AddressLine3, new { @type = "text", @class = "form-control customer-form-input", @placeholder = "Address Line 3" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.City, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.City, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "City" })
                        @Html.ValidationMessageFor(model => model.BillingAddress.City, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.Region, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.Region, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Region" })
                        @Html.ValidationMessageFor(model => model.BillingAddress.Region, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.PostCode, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.PostCode, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Post Code" })
                        @Html.ValidationMessageFor(model => model.BillingAddress.PostCode, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.BillingAddress.Country, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.BillingAddress.Country, new { @type = "text", @class = "form-control form-control-warning customer-form-input", @placeholder = "Country" })
                        @Html.ValidationMessageFor(model => model.BillingAddress.Country, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @class = "form-control form-control-warning customer-form-input", @placeholder = "Email", @readOnly = "true" })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger form-warning" })
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(m => m.JoinMailingList, new { @class = "customer-form-label col-xs-12 col-sm-4 col-form-label" })
                    <div class="col-xs-12 col-sm-8">
                        @Html.CheckBoxFor(model => model.JoinMailingList, new { @checked = "checked", @class = "customer-form-checkbox" })
                    </div>
                </div>
                <div class="form-group row active-button-row-wrapper">
                    <div class="active-button-wrapper">
                        <button type="submit" class="btn btn-primary active-button">Continue</button>
                    </div>
                </div>
                <div style="position:relative">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger form-validation-summary" })
                </div>
        }
    </div>
</div>
