@model IEnumerable<JoelScottFitness.Common.Models.CustomerPlanViewModel>

<div class="container page-container" style="font-family:'Bebas-Neue';font-size:12pt">
    <div class="row">
        <div class="col-xs-12 title-format">
            MY PLANS
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="row">
        <div class="plan-row-container">
            @{
                if (Model == null || !Model.Any())
                {
                    <div class="row col-xs-12" style="margin:0px">
                        <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                            NO ACTIVE PLANS
                        </div>
                    </div>
                }
                else
                {
                    string greyscaleClass;
                    foreach (var item in Model)
                    {
                        @Html.HiddenFor(model => item.Id, new { @style = "display:none" });
                        greyscaleClass = string.Empty;
                        if (string.IsNullOrEmpty(item.SheetsUri))
                        {
                            greyscaleClass = "plan-image-greyscale";
                        }
                        <div class="plan-container plan-format" style="position:relative">
                            <div class="plan-image @greyscaleClass" style="background-image: url(@item.ImagePath);">
                                <div class="plan-name-format">@item.Name</div>
                                <div class="plan-description-format">@item.Description</div>
                                @if (!item.QuestionnaireComplete)
                                {
                                    <div class="plan-questionnaire-format">
                                        @Html.ActionLink("Complete Questionnaire", "CustomerQuestionnaire", new { orderId = item.OrderId })
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(item.SheetsUri))
                                {
                                    <div class="plan-download-format">
                                        <a href="@item.SheetsUri" target="_blank" rel="nofollow">Download</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="plan-preparing-format">
                                        Preparing
                                    </div>
                                    <div><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></div>
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(item.SheetsUri))
                            {
                                <div class="plan-upload-icon-wrapper-container">

                                        <div class="plan-upload-icon-wrapper">
                                            <div class="plan-upload-icon">
                                                <a onclick="showUploadModal(@item.Id);"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding:0px"></i></a>
                                            </div>
                                            <div class="plan-upload-text">
                                                <label class="plan-upload-text-label">Upload Before & After</label>
                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                  
                                </div>
                            }
                            <div style="clear:both"></div>
                        </div>
                    }
                }
            }
        </div>
        <div style="clear:both"></div>
    </div>
</div>