@model JoelScottFitness.Common.Models.CreateCustomerViewModel

@{
    ViewBag.Title = "CustomerDetails";
}

<div class="container page-container">
    <div class="row">
        <div class="col-xs-12 title-format">
            CUSTOMER DETAILS
        </div>
        <div style="clear:both"></div>
    </div>

@using (Html.BeginForm("NewCustomerDetails", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-4" for="Firstname">Forename</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="ConfirmEmailAddress">Surname</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hidden-xs visible-sm visible-md visible-lg">
                <div class="form-group">
                    <label class="control-label col-md-4" for="EmailAddress">Email</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group registration-element">
                    <label class="control-label col-md-4" for="ConfirmEmailAddress">Confirm Email</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmEmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group registration-element">
                    <label class="control-label col-md-4" for="Password">Password</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group registration-element">
                    <label class="control-label col-md-4" for="ConfirmPassword">Confirm Password</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="RegisterAccount">Register Account</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.RegisterAccount, new { @class = "register-checkbox", @checked = "checked", @style = "margin-left:0px" })
                            @Html.ValidationMessageFor(model => model.RegisterAccount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="JoinMailingList">Subscribe</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.JoinMailingList, new { @checked = "checked", @style = "margin-left:0px" })
                            @Html.ValidationMessageFor(model => model.JoinMailingList, "", new { @class = "text-danger" })
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_AddressLine1">Address Line 1</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.AddressLine1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_AddressLine2">Address Line 2</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.AddressLine2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_AddressLine3">Address Line 3</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.AddressLine3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.AddressLine3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_City">City</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_Region">Region</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.Region, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.Region, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_PostCode">Post Code</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.PostCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="BillingAddress_Country">Country</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BillingAddress.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillingAddress.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 hidden-xs visible-sm visible-md visible-lg">
                    <input type="submit" value="Next" style="width:100%;font-size:18px" class="btn btn-default basket-next-button basket-button" />
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="form-group">
                <label class="control-label col-md-4" for="EmailAddress">Email</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group registration-element">
                <label class="control-label col-md-4" for="ConfirmEmailAddress">Confirm Email</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmEmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group registration-element">
                <label class="control-label col-md-4" for="Password">Password</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group registration-element">
                <label class="control-label col-md-4" for="ConfirmPassword">Confirm Password</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="RegisterAccount">Register Account</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.RegisterAccount, new { @class = "register-checkbox", @checked = "checked", @style = "margin-left:0px" })
                        @Html.ValidationMessageFor(model => model.RegisterAccount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4" for="JoinMailingList">Subscribe</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.JoinMailingList, new { @checked = "checked", @style = "margin-left:0px" })
                        @Html.ValidationMessageFor(model => model.JoinMailingList, "", new { @class = "text-danger" })
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
            <div class="row visible-xs hidden-sm hidden-md hidden-lg">
                <div class="form-group">
                    <div class="col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" style="padding:0px;text-align:center;padding-left:20px;padding-right:20px">
                        <input type="submit" value="Next" style="width:270px;font-size:18px" class="btn btn-default basket-next-button basket-button" />
                    </div>
                </div>
            </div>
}

</div>

