@model IEnumerable<JoelScottFitness.Common.Models.PlanViewModel>

@using System.Collections.Generic;

@{
    ViewBag.Title = "Plans";
}

<div class="container" style="padding-top:30px;">
    <div class="row">
        <div class="col-xs-12 title-format">
            PLANS
        </div>
        <div style="clear:both"></div>
    </div>
    @foreach (var plan in Model)
    {
        <div class="row">
            <div class="plan-main-row-container" style="background-color:red">
                <div class="plan-main-image" style="width:100%;height:100%; background-image:url('@plan.ImagePathLarge');">
                    <div class="plan-main-title">@plan.Name</div>
                    <div class="plan-main-header">@plan.BannerHeader</div>
                    <div class="plan-main-description">@plan.Description</div>
                    <div class="plan-main-options">Options:</div>
                    <div class="plan-main-options-dropdown-wrapper">@Html.DropDownListFor(p => plan.SelectedOptionId, plan.Options.Select(o => new SelectListItem() { Text = o.Description + "  -  £" + o.Price, Value = o.Id.ToString() }).ToList(), new { @class = "plan-main-options-dropdown" })</div>
                    <div class="plan-main-button-wrapper">
                        <button type="submit" class="btn btn-default btn-lg plan-main-button"><span class="plan-main-button-text">BUY</span></button>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    }
</div>
