@model IEnumerable<JoelScottFitness.Common.Models.UiPlanViewModel>

@using System.Collections.Generic;

<div class="title-format">
    PLANS
</div>

@{
    var planCount = 0;

    foreach (var plan in Model)
    {
        <div class="plan-main-row-container">
            <div class="plan-main-image" style="background-image:url('@plan.ImagePathLarge');">
                <div class="plan-main-title" style="color:@plan.BannerColour">@plan.Name</div>
                <div class="plan-main-header" style="color:@plan.BannerColour">@plan.BannerHeader</div>
                <div class="plan-main-options-wrapper">
                    <div class="plan-main-options" style="color:@plan.BannerColour">Options:</div>
                    <div class="plan-main-options-dropdown-wrapper">
                        @Html.DropDownListFor(p => plan.SelectedOptionId, plan.Options.Select(o => new SelectListItem() { Text = o.Description + "  -  £" + o.Price, Value = o.Id.ToString() }).ToList(), new { @id = "drop-down-" + @planCount, @class = "plan-main-options-dropdown" })
                    </div>
                    <div class="plan-main-button-wrapper">
                        <button type="button" class="btn btn-default btn-lg plan-main-button" onclick="addToBasket('drop-down-@planCount')"><span class="plan-main-button-text">BUY</span></button>
                        <div style="clear:both"></div>
                    </div>
                    <div>
                        <ul class="plans-bullets">
                            <li><a class="plans-link" href="#plan-details"><i class="fas fa-check-circle fa-1x"></i> &nbsp; Tailored Plan</a></li>
                            <li><a class="plans-link" href="#plan-details"><i class="fas fa-check-circle"></i> &nbsp; Realtime Coaching</a></li>
                        </ul>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="plan-main-description">@plan.Description</div>
            </div>
            <div style="padding-bottom:20px"></div>
        </div>

        planCount++;
    }
}

<div id="plan-details" style="padding-top:60px"></div>



<div  class="title-format">
    WHY CHOOSE ME?
</div>
<div class="plans-blurb-list-container">
    <ul class="plans-blurb-list">
        <li>
            <h3 class="plans-headers">Tailored to you</h3>
            <p class="plans-blurb">All of my plans are geared towards attaining certain goals whether it be bulking or shredding.  While the end goal 
            maybe the same everybodies journey is different, and one plan certainly does not fit all!  When you buy a plan from me
            it is completely tailored to you, taking into account your current fitness levels and lifestyle.  Simply complete the 
            questionnaire after purchase and I can begin preparing the fitness plan that will get you that body you've always wanted.</p>
        </li>
        <li>
            <h3 class="plans-headers">Realtime Coaching</h3>
            <p class="plans-blurb"> 
                My help does not end with a fitness plan dropping into your inbox.  All of my fitness plans are delivered via 
                <strong>Google Sheets</strong> a free app available for all smart devices.  Tracking your progress in <strong>Google Sheets</strong> 
                enables me to monitor it in realtime and ensure you are achieving the goals you desire.  
            </p>
        </li>
    </ul>
    @{Html.RenderPartial("_GoogleSheetsIcons");}
</div>
