@model JoelScottFitness.Common.Models.CustomerPlanViewModel


<tr>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @if (Model.RequiresAction)
        {
            <i id="requires-action-@Model.Id" class="fa fa-exclamation" aria-hidden="true" style="color:red"></i>
        }
        else
        {
            <i id="requires-action-@Model.Id" class="fa fa-check" aria-hidden="true" style="color:green"></i>
        }
    </td>


    <td>

        <input type="hidden" id="order-id-@Model.Id" value="@Model.OrderId" />
        <input type="hidden" id="plan-id-@Model.Id" value="@Model.Id" />
        <input type="hidden" id="customer-id-@Model.Id" value="@Model.CustomerId" />
        <input type="hidden" id="name-@Model.Id" value="@Model.Name" />
        <input type="hidden" id="description-@Model.Id" value="@Model.Description" />
        <input type="text" style="width:100%" id="sheets-uri-@Model.Id" name="SheetsUri" value="@Model.SheetsUri" />
        @Html.ValidationMessageFor(model => Model.SheetsUri, "", new { @class = "text-danger form-warning" })
    </td>
    <td>
        <input type="button" id="upload-uri-@Model.Id" onclick="uploadSheetsUri(@Model.Id)" value="Upload" class="btn btn-default" />

        @if (!string.IsNullOrEmpty(Model.SheetsUri) && !string.IsNullOrEmpty(Model.SheetsUri))
        {

            <a id="sheets-uri-link-@Model.Id" class="btn btn-default" href="@Model.SheetsUri" target="_blank">Open</a>
        }
        else
        {
            <a id="sheets-uri-link-@Model.Id" class="btn btn-default" href="#" target="_blank" disabled="disabled">Open</a>
        }
    </td>


</tr>
