<!DOCTYPE html>
<html>
<head>
    <title>Joel Scott Fitness - BELIEVE ACHIEVE</title>
    <meta name="description" content="Joel Scott from the UK with proven guides, recipes, workouts &amp; apparel. Proven results, transformations tailored to your lifestyle. Maximum results. No 1 Joel Scott Fitness UK." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Joel Scott Fitness - BELIEVE ACHIEVE" />
    <meta property="og:description" content="Joel Scott from the UK with proven guides, recipes, workouts &amp; apparel. Proven results, transformations tailored to your lifestyle. Maximum results. No 1 Joel Scott Fitness UK." />
    <meta property="og:url" content="https://www.ldnmuscle.com/" />
    <meta property="og:site_name" content="Joel Scott Fitness - BELIEVE ACHIEVE" />
    <meta property="og:image" content="http://www.JoelScottFitness.com/Content/Images/Default/JoelScottFitness.jpg" />
    <meta property="og:image:secure_url" content="https://www.JoelScottFitness.com/Content/Images/Default/JoelScottFitness.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Joel Scott from the UK with proven guides, recipes, workouts &amp; apparel. Proven results, transformations tailored to your lifestyle. Maximum results. No 1 Joel Scott Fitness UK." />
    <meta name="twitter:title" content="Joel Scott Fitness - BELIEVE ACHIEVE" />
    <meta name="twitter:site" content="@Html.Raw("@")joelsfitness" />
    <meta name="twitter:image" content="https://www.JoelScottFitness.com/Content/Images/Default/JoelScottFitness.jpg" />
    <meta name="twitter:creator" content="@Html.Raw("@")joelsfitness" />

    <meta itemprop="name" content="Joel Scott Fitness - BELIEVE ACHIEVE">
    <meta itemprop="description" content="Joel Scott from the UK with proven guides, recipes, workouts &amp; apparel. Proven results, transformations tailored to your lifestyle. Maximum results. No 1 Joel Scott Fitness UK.">
    <meta itemprop="image" content="https://www.JoelScottFitness.com/Content/Images/Default/JoelScottFitness.jpg" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>

    <div id="full-page-image" class="header">
        <div class="logo">
            <img src="~/Content/Images/Logos/jsf-white.svg" />
        </div>
    </div>
    <div id="nav" class="navbar navbar-inverse menu" style="width:100vw;margin-right:0px;">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="width:100px;position:absolute;"><a href="/Home/Index#home" class="navbar-left"><img class="nav-logo" src="~/Content/Images/Logos/jsf-white.svg" style="z-index:10"></a></div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-font navbar-pad">
                    <li><a class="plans-link" href="/Home/Index#plans">Plans</a></li>
                    <li><a class="plans-link" href="/Home/Index#media">Media</a></li>
                    <li>@Html.ActionLink("Blog", "Blogs", "Home")</li>
                    @if (Session["HallOfFame"] != null && (bool)Session["HallOfFame"])
                    {
                        <li>@Html.ActionLink("Hall Of Fame", "HallOfFame", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="nav-back-mask"></div>

    <div style="z-index:2">
        @RenderBody()
    </div>
    <div class="clearfix"></div>

    @Html.Partial("_Footer")

    <div class="clearfix"></div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/joel-scott-fitness")
        @Scripts.Render("~/bundles/jquery-snow")

        @RenderSection("scripts", required: false)
        @Html.Partial("_BlogModal")
        @Html.Partial("_BeforeAndAfterModal")
        @Html.Partial("_BasketIndicator")


@if (Session["Christmas"] != null && (bool)Session["Christmas"])
{
    @Scripts.Render("~/bundles/christmas")
}

</body>
</html>


