@using Microsoft.AspNet.Identity
@using JoelScottFitness.Common.Constants

<ul class="nav navbar-nav navbar-right account-options logoutForm">
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole(JsfRoles.Admin))
        {
            <li class="dropdown">
                <a class="dropdown-toggle navbar-font" data-toggle="dropdown">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu admin-menu">
                    <li>@Html.ActionLink("Blogs", "Blogs", "Admin")</li>
                    <li>@Html.ActionLink("Plans", "Plans", "Admin")</li>
                    <li>@Html.ActionLink("Discount Codes", "DiscountCodes", "Admin")</li>
                    <li>@Html.ActionLink("Images", "ImageConfiguration", "Admin")</li>
                    <li>@Html.ActionLink("Sales", "CustomerPlans", "Admin")</li>
                </ul>
            </li>
        }
        <li>
            @Html.ActionLink("My Account", "MyPlans", "Home", routeValues: null, htmlAttributes: new { @style = "font-family:'Bebas-Neue';font-size:14pt;padding:15px" })

        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-font">Sign Out</a>
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-font" })
        </li>
    }
</ul>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
}