@model JoelScottFitness.Common.Models.PurchaseHistoryViewModel

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joel Scott Fitness</title>
</head>
<body style="background-color: white;min-width: 300px;white-space: nowrap; margin:0;">
    <style>
        .email-wrapper {
            width: 100%;
            position: relative;
            min-width: 500px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .email-banner-wrapper {
            position: relative;
            background-color: black;
            height: 80px;
            white-space: nowrap;
        }

        .email-banner-wrapper-logo {
            position: relative;
            background-color: orange;
            width: 210px;
        }

        .email-banner-wrapper-logo-img {
            width: 200px;
            height: auto;
            padding-top: 20px;
            padding-left: 10px;
            margin: auto;
            float: left;
        }

        .email-social-wrapper {
            position: relative;
            width: 260px;
            height: 100%;
            float: right;
            display: inline-block;
        }

        .email-social-icon-wrapper {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-collapse: collapse !important;
            vertical-align: top;
            color: #222222;
            margin: 0;
            padding: 20px 10px 10px 10px;
        }

        .email-social-link {
            text-decoration: none;
        }

        .email-social-link-twitter a:hover img {
            text-decoration: none;
        }

        .email-social-icon {
            outline-style: none;
            width: 30px;
            height: 30px;
            max-width: 100%;
            clear: both;
            display: block;
            border-style: none;
            margin: 0 auto;
            float: none;
        }

        .email-content-wrapper {
            width: 100%;
            position: relative;
            font-size: 14pt;
            white-space: normal;
        }

        .email-content-container {
            min-width: 90%;
            width: 90%;
            position: relative;
            margin: 0 auto;
            min-height: 400px;
            text-align: center;
        }

        .email-footer-wrapper {
            width: 100%;
            margin: 0 auto;
            height: auto;
            position: relative;
            vertical-align: middle;
            text-align: center;
            margin-top: 30px;
        }

        .email-footer-logo {
            width: 300px;
            height: auto;
            margin: 0 auto;
        }

        .email-table {
            width: 80%;
            margin: 0 auto;
        }

        .email-table-head {
            text-align: center;
            font-weight: bold;
        }

        .email-table-head-order {
            color: black;
            display: block;
            padding-bottom: 10px;
        }

        .email-table-item-image {
            width: 100%;
            background-position: top center;
            background-size: cover;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .email-table-item-title {
            height: 200px;
            color: white;
            padding-left: 1%;
            padding-top: 1%;
            font-weight: bold;
            font-size: 30pt;
        }

        .email-table-item-element {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            padding: 0;
            border-left: 0;
            border-right: 0;
        }

        .email-table-item-element-left {
            text-align: left;
        }

        .email-table-item-element-right {
            text-align: right;
        }


        .email-item-table-element-label {
            color: black;
            display: block;
            padding-bottom: 10px;
            font-size: 12pt;
        }

        .email-item-table-element-footer {
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .email-order-confirmation {
            color: black;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0;
        }

        .email-order-summary {
            color: gray;
            display: block;
            padding-bottom: 10px;
            font-size: 12pt;
        }


        .email-order-status {
            color: gray;
            display: block;
            padding-bottom: 10px;
            padding-top: 30px;
            font-size: 12pt;
        }

        .email-order-status-button {
            background-color: #0c0c09;
            border-radius: 30px;
            color: #ffffff;
            display: block;
            font-family: Arial,sans-serif,'Open Sans';
            font-weight: bold;
            line-height: 1;
            text-align: center;
            text-decoration: none !important;
            text-transform: uppercase;
            padding: 1px 20px 0;
            border: 15px solid #0c0c09;
            width: 200px;
            margin: 0 auto;
        }
    </style>


    <div class="email-wrapper">
        <div class="email-banner-wrapper">
            <div class="email-banner-wrapper-logo">
                <a href="http://www.joelscottfitness.com" target="_blank">
                    <img class="email-banner-wrapper-logo-img" src="http://localhost:49910/Content/Logos/jsf-white.svg">
                </a>
            </div>
            <div class="email-social-wrapper">
                <span class="email-social-icon-wrapper">
                    <a href="https://www.facebook.com/Joelscottfitness-346355882365048/" target="_blank" id="facebook" rel="noopener noreferrer" class="email-social-link">
                        <img data-imagetype="External" src="http://localhost:49910/Content/Logos/facebook-grey.png" width="40" height="40" alt="Facebook" class="email-social-icon">
                    </a>
                </span>
                <span class="email-social-icon-wrapper">
                    <a href="https://www.instagram.com/joelscottfitness/" target="_blank" id="instagram" rel="noopener noreferrer" class="email-social-link">
                        <img data-imagetype="External" src="http://localhost:49910/Content/Logos/instagram-grey.png" width="40" height="40" alt="Instagram" class="email-social-icon">
                    </a>
                </span>
                <span class="email-social-icon-wrapper">
                    <a href="https://twitter.com/JoelSFitness/" target="_blank" id="twitter" rel="noopener noreferrer" class="email-social-link">
                        <img data-imagetype="External" src="http://localhost:49910/Content/Logos/twitter-grey.png" width="40" height="40" alt="Twitter" class="email-social-icon">
                    </a>
                </span>
                <span class="email-social-icon-wrapper">
                    <a href="https://www.youtube.com/user/JoelScottFitness/" target="_blank" id="youtube" rel="noopener noreferrer" class="email-social-link social-link-twitter">
                        <img data-imagetype="External" src="http://localhost:49910/Content/Logos/youtube-grey.png" alt="YouTube" class="email-social-icon">
                    </a>
                </span>
            </div>
        </div>



        <div class="email-content-wrapper">
            <div class="email-content-container">
                <h3 class="email-order-confirmation">ORDER CONFIRMATION</h3>
                @{
                    bool multiplePurchases = Model.Items.Count() > 1 || Model.Items.Any(i => i.Quantity > 1) ? true : false;

                    <label class="email-order-summary">@Model.PurchaseDateDisplayString</label>
                    <label class="email-order-summary">Hey @Model.Customer.Firstname,</label>
                    <label class="email-order-summary">Thank you for your purchase! Your order #@Model.TransactionId is confirmed.</label>
                    <label class="email-order-summary">If you haven't already, please complete your fitness questionnaire <a href="@string.Format(@"http://localhost:49910/Home/CustomerQuestionnaire?transactionId={0}", Model.TransactionId)" target="_blank" id="twitter" rel="noopener noreferrer" style="text-decoration:underline;color:blue">here</a>.</label>
                    <label class="email-order-summary">While I prepare your fitness @string.Format(@"plan{0}", multiplePurchases ? "s" : string.Empty)  please double check the details below and let me know if anything needs changing.</label>
                    <label class="email-order-summary">I aim to create all plans within 48 hours of receiving your order, you will receive another email when @string.Format(@" {0} ", multiplePurchases ? "they are" : "it is") ready.</label>
                }

    <hr style="margin-left:10%;margin-right:10%" />

    <table class="email-table" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td colspan="3" class="email-table-head">
                    <label class="email-table-head-order">ORDER #@Model.TransactionId</label>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Items)
            {
                <tr>
                    <td colspan="3">
                        <div style="position:relative;margin-bottom:6px;margin-top:6px">
                            <div class="email-table-item-image" style='position:relative; background-image:url(@string.Format(@"http://localhost:49910/{0}", item.ImagePath)'>
                                <h2 class="email-table-item-title" style="margin:0">@item.Name</h2>
                            </div>
                        </div>
                    </td>
                </tr>
                            <tr>
                                <td class="email-table-item-element email-table-item-element-left">
                                    <label class="email-item-table-element-label">@item.Description</label>
                                </td>
                                <td class="email-table-item-element email-table-item-element-right">
                                    <label class="email-item-table-element-label">@string.Format(@"x{0}", item.Quantity)</label>
                                </td>
                                <td class="email-table-item-element email-table-item-element-right">
                                    <label class="email-item-table-element-label">@string.Format(@"£{0}", item.Price)</label>
                                </td>
                            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <label class="email-item-table-element-label email-table-item-element-left email-item-table-element-footer">Total</label>
                </td>
                <td>
                    <label class="email-item-table-element-label email-table-item-element-right email-item-table-element-footer">@string.Format(@"£{0}", Model.TotalAmount)</label>
                </td>
            </tr>
            @if (Model.Customer.UserId.HasValue)
            {
            <tr>
                <td colspan="3" style="text-align:center;">
                    <hr />
                    <label class="email-order-status">You can follow the status of your order by clicking the button below:</label>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <a href="http://localhost:49910/Home/MyPlans" target="_blank" rel="noopener noreferrer" class="email-order-status-button" style="margin-bottom:30px;">
                        <span style="text-decoration:none;font-size:10pt;">View Order Status</span>

                    </a>
                    <hr />
                </td>
            </tr>
            }
            <tr>
                <td colspan="3" style="text-align:center">
                    <label class="email-order-summary">Please do not hesitate to send an email to customercare@joelscottfitness.com if you have any questions.</label>
                </td>
            </tr>
        </tfoot>
    </table>



</div>
        </div>


        <div class="email-footer-wrapper">
            <div class="email-footer-logo">
                <img src="http://localhost:49910/Content/Logos/jsf-black.svg" />
            </div>
        </div>
    </div>



</body>
</html>