@model JoelScottFitness.Common.Models.OrderHistoryViewModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<div class="email-content-wrapper">
    <div class="email-content-container">
        <h3 class="email-order-confirmation">ORDER CONFIRMATION</h3>
        @{
            bool multiplePurchases = Model.Items.Count() > 1 || Model.Items.Any(i => i.Quantity > 1) ? true : false;

            <label class="email-order-summary">@Model.PurchaseDateDisplayString</label>
            <label class="email-order-summary">Hey @Model.Customer.Firstname,</label>
            <label class="email-order-summary">Thank you for your purchase! Your order #@Model.TransactionId is confirmed.</label>
            <label class="email-order-summary">If you haven't already, please complete your fitness questionnaire.</label>

            <a href="@string.Format(@"{0}/Home/CustomerQuestionnaire?orderId={1}", TempData["RootUri"], Model.Id)" target="_blank" rel="noopener noreferrer" class="email-order-status-button" style="margin-bottom:30px;">
                <span style="text-decoration:none;font-size:10pt;">Fitness Questionnaire</span>

            </a>

            <label class="email-order-summary">While I prepare your fitness @string.Format(@"plan{0}", multiplePurchases ? "s" : string.Empty)  please double check the details below and let me know if anything needs changing.</label>
            <label class="email-order-summary">I aim to create all plans within 48 hours of receiving your order, you will receive another email when @string.Format(@" {0} ", multiplePurchases ? "they are" : "it is") ready.</label>
        }

        <hr style="margin-left:10%;margin-right:10%" />

        <table class="email-table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td colspan="3" class="email-table-head">
                        <label class="email-table-head-order">ORDER #@Model.TransactionId</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in @Model.Items)
                {
                    <tr>
                        <td colspan="3">
                            <div style="position:relative;margin-bottom:6px;margin-top:6px">
                                <div class="email-table-item-image" style='position:relative; background-image:url(@string.Format(@"{0}/{1}", TempData["RootUri"], orderItem.Item.ImagePath)'>
                                    <h2 class="email-table-item-title" style="margin:0">@orderItem.Item.Name</h2>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="email-table-item-element email-table-item-element-left">
                            <label class="email-item-table-element-label">@orderItem.Item.Description</label>
                        </td>
                        <td class="email-table-item-element email-table-item-element-right">
                            <label class="email-item-table-element-label">@string.Format(@"£{0} x{1}", orderItem.Price, orderItem.Quantity)</label>
                        </td>
                        <td class="email-table-item-element email-table-item-element-right">
                            <label class="email-item-table-element-label">@string.Format(@"£{0}", orderItem.ItemTotal)</label>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <label class="email-item-table-element-label email-table-item-element-left email-item-table-element-footer">Total</label>
                    </td>
                    <td>
                        <label class="email-item-table-element-label email-table-item-element-right email-item-table-element-footer">@string.Format(@"£{0}", Model.TotalAmount)</label>
                    </td>
                </tr>
                @if (Model.Customer.UserId.HasValue)
                {
                    <tr>
                        <td colspan="3" style="text-align:center;">
                            <hr />
                            <label class="email-order-status">You can follow the status of your order by clicking the button below:</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center">
                            <a href=@string.Format("{0}/Home/MyPlans", TempData["RootUri"]) target="_blank" rel="noopener noreferrer" class="email-order-status-button" style="margin-bottom:30px;">
                                <span style="text-decoration:none;font-size:10pt;">View Order Status</span>

                            </a>
                            <hr />
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3" style="text-align:center">
                        <label class="email-order-summary">Please do not hesitate to <a href=@string.Format("{0}/Home/Contact", TempData["RootUri"]) target="_blank" rel="noopener noreferrer">contact me</a> if you have any questions.</label>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="google-icon-container" style="text-align:center;position:relative;margin-top: 12px;">
            <img style="height: 40px;" alt='Get it on the App Store' src=@string.Format("{0}/Content/Images/Logos/google-sheets-icon.png", TempData["RootUri"]) />
            <span style="padding:10px"></span>
            <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.docs.editors.sheets&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img style="height: 40px;" alt='Get it on Google Play' src=@string.Format("{0}/Content/Images/Logos/google-play-badge-68.png", TempData["RootUri"]) /></a>
            <span style="padding:10px"></span>
            <a href='https://itunes.apple.com/us/app/google-sheets/id842849113?mt=8' target="_blank"><img style="height: 40px;" alt='Get it on the App Store' src=@string.Format("{0}/Content/Images/Logos/Download_on_the_App_Store_Badge-68.png", TempData["RootUri"]) /></a>
        </div>

    </div>
</div>
